models/
node_modules/
!node_modules/onnxruntime-common/**
!node_modules/onnxruntime-node/**
!node_modules/@node-rs/**
dist/
vtscada-function*

esbuild.js
example.SRC
model2onnx.py

resources/**
!resources/model.en.onnx
!resources/info.en.json
!resources/docs.en.json
!resources/docs.zh-cn.json
!resources/docs.zh-tw.json
