# models/
# node_modules/
# vtscada-function*
# esbuild.js
# example.SRC
# model2onnx.py
# resources/**
# docs/**
# README.md
# hfdownload.ipynb
# model2onnx2.py

**/**

!dist/**
!resource/**